<div class="nav-bar shadow">
  <img src="../../assets/Logo.png" alt="">
</div>
<div class="container mt-4">
  <h1> O que você deseja? </h1>

  <div class="row">

    <a class="card shadow" href = "produtosTotem">
        <img src="../../assets/promo.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Promoções!</h5>
            <p class="card-text">Fique por dentro das nossas promoções e combos.</p>
        </div>
    </a>

    <a class="card shadow" href = "produtosTotem">
        <img src="../../assets/combos.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title mt-3">Pratos</h5>
            <p class="card-text">Confira os pratos veganos mais saborosos do Brasil!</p>
        </div>
    </a>

    <a class="card shadow" href = "produtosTotem">
        <img src="../../assets/sucos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title mt-5">Bebidas</h5>
            <p class="card-text">Venha saber mais sobre as nossas bebidas 100% veganas e deliciosas!</p>
        </div>
    </a>

    <a class="card shadow" href = "produtosTotem">
        <img src="../../assets/sobremesas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Sobremesas</h5>
            <p class="card-text">Aqui possuimos sobremesas veganas deliosas, chega mais!</p>
        </div>
    </a>

  </div>
  <button class="btn btn-success" (click)="openDialog()">Colocar Código Promocional</button>
</div>
<div class="carrinho shadow">
  <a href="">
    <img src="../../assets/carrinho.png" alt="" class="mt-2">
    <h4> Seu carrinho </h4>
  </a>
  <a> Promoções </a>
  <a> Pratos </a>
  <a> Bebidas </a>
  <a> Sobremesas </a>
  <a> Cancelar Compra </a>
</div>
