<div class="background">
  <div class="shadow login">
    <img src="../assets/Logo.png" class = "logo" />

    <div class="input mb-3">
        <p class="text">Email:</p>
        <input type="text" class="form-control shadow inputt" aria-label="default input example" ngModel="username" />

        <p class="text">Senha:</p>
        <input type="password" class="form-control shadow" id="" aria-label="default input example" ngModel="password" />
    </div>
    <a class="btn btn-success shadow"  style="margin: 4%;" href="/menu" (click)="logar()"> Entrar </a><br />
    <b>Não possui cadastro? <br /></b>
    <a href = "/cadastro" > Cadastrar</a>
  </div>
</div>
