.background {
  background-image: url(../../assets/bg.jpg) !important;
}

.login{
  width: 40%;
  padding: 2%;
  position: absolute;
  margin-left: 30%;
  border-radius: 15px;
  margin-top: 10%;
  color: #63783d;
  background-image: url(../../assets/bg.jpg);
  background-position: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  width: 220px;
  height: 170px;
}
.input {
  margin-top: 10%;
}
input {
  width: 37%;
}
p {
  font-size: 20px;
  color: #63783d;
}

a {
  text-decoration: none;
  color: #7FA653;
}

@media (width < 900px){
  .login{
      width: 85%;
      margin-left: 9%;
      border-radius: 15px;
      margin-top: 50%;
      color: #63783d;
      background-position: 0%;
      text-align: -webkit-center;
  }
  input {
      width: 80%;
  }
}

@media (width > 900px) and (width < 1400px)
{
  .login{
    width: 85%;
    margin-left: 9%;
    border-radius: 15px;
    margin-top: 50%;
    color: #63783d;
    background-position: 50%;
}
}
