<div class="nav shadow">
    <img src="../../assets/logo-menu.png" alt="" class="logo">
    <div class="container  menu-btn">
        <a href="" class="btn btn-success shadow menu-btn2"> Bebidas </a>
        <a href="" class="btn btn-success shadow menu-btn2"> Pratos </a>
        <a href="" class="btn btn-success shadow menu-btn2"> Doces </a>
    </div>
    <a href="" class="btn btn-success menu-btn-final shadow"> Promoções </a>
</div>
<div class="row m-5 aqui">

    @for (item of produtos; track item.id) {
      <a class="card cardss shadow" style="width: 18rem;" (click)="ingredientsDetails(item.id)" >
        <img src="{{'http://localhost:5083/product/image/' + item.imagemId}}" class="card-img" alt="...">
        <div class="card-body">
          <b class="text">{{item.nome}}</b>
        </div>
      </a>
    }
</div>
