.nav-bar {
  /* background: rgb(54,38,51);
  background: linear-gradient(90deg, rgba(54,38,51,1) 0%, rgba(107,77,102,1) 37%, rgba(187,111,175,1) 100%); */
  background-color:green;
  display: flex;
  justify-content: center;
}
.nav-bar img {
  width: 20vh;
}
h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #07391E;
}
.row {
  background-color: salmon;
}

.botao {
  display: flex;
  justify-content: center;
}

.confirm {
  width: 30%;
  font-size: 30px;
}
