<div class="nav-bar shadow">
  <img src="../../assets/Logo.png" alt="">
</div>
<h1> Seu Carrinho: </h1>

<div class="row g-0 m-5">
  <div class="col-md-4">
    <img src="../../assets/beterraba.jpg" class="img-fluid rounded-start" alt="...">
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title m-2">Card title</h5>
      <p class="card-text m-2">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <button class="btn btn-danger m-5"> -1 </button>
      <button class="btn btn-success"> +1 </button>
    </div>
  </div>
</div>
<div class="botao">
  <button class="btn btn-success confirm mt-5"> Confirmar Pedido </button>
</div>
