<div class="container">

  <h1> Seu Carrinho: </h1>
  <div class="container nome mt-5">
    <h3>Seu Apelido:</h3>
    <input type="text" class="form-control  w-25 shadow" [(ngModel)]="apelido">
  </div>
  @if (carrinho.length > 0) {
    @for (item of carrinho; track item.id) {
      <div class="row g-0 m-5">
        <div class="col-md-4">
          <img src="{{'http://localhost:5083/product/image/' + item.imagemId}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title m-2">{{ item.nome }}</h5>
            <p class="card-text m-2">{{ item.descricao }}</p>
            <button class="btn btn-danger m-5" (click)="removerItemDoCarrinho(item)"> Excluir </button>
          </div>
        </div>
      </div>
    }
  }
  <div class="botao2">
    Total: {{ totalPedido | currency:'BRL' }} <br />
  </div>
  <div class="botao">
    <button class="btn btn-success confirm mt-5 mb-5" (click)="confirmarPedido()"> Confirmar Pedido </button>
  </div>
</div>
