.container {
  background-color: cadetblue;
}
.nome {
 display: flex;
 justify-content: center;
}
h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #07391E;
}
.row {
  background-color: salmon;
}

.botao {
  display: flex;
  justify-content: center;
}

.botao2{
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: #07391E;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
.confirm {
  width: 50%;
  font-size: 30px;
}
