<div class="nav shadow">
	<img src="../../assets/Logo.png" class="logo" alt="">
</div>

<div class="row m-4 aqui">

	<div class="card cardss shadow" style="width: 18rem;">
		<img src="../../assets/Add.png" class="card-img-top" alt="...">
		<div class="card-body">
			<a href="#" class="btn btn-success buton">Adicionar Produtos</a>
		</div>
	</div>

	<div class="card cardss shadow" style="width: 18rem;">
		<img src="../../assets/promo.png" class="card-img-top" alt="...">
		<div class="card-body">
			<a href="#" class="btn btn-success buton">Nova Promoção</a>
		</div>
	</div>

	<div class="card cardss shadow" style="width: 18rem;">
		<img src="../../assets/grafico.png" class="card-img-top" alt="...">
		<div class="card-body">
			<a href="#" class="btn btn-success buton">Dashboard-Vendas</a>
		</div>
	</div>
</div>

<div class="row m-4 aqui">

	<div class="card cardss shadow" style="width: 18rem;">
		<img src="../../assets/totem.png" class="card-img-top" alt="...">
		<div class="card-body">
			<a href="#" class="btn btn-success buton">Totem</a>
		</div>
	</div>

	<div class="card cardss shadow" style="width: 18rem;">
		<img src="../../assets/menu.png" class="card-img-top" alt="...">
		<div class="card-body">
			<a href="#" class="btn btn-success buton">Menu Completo</a>
		</div>
	</div>

	<div class="card cardss shadow" style="width: 18rem;">
		<img src="../../assets/pedidos.png" class="card-img-top" alt="...">
		<div class="card-body">
			<a href="#" class="btn btn-success buton">Pedidos</a>
		</div>
	</div>

</div>
