<div class="nav shadow">
	<img src="../../assets/Logo.png" class="logo" alt="">
  <a href="">Sair</a>
</div>

<div class="row m-5 aqui">

  <a href = "/menu" class="card cardss shadow" style="width: 18rem; background-color: #044B25;">
      <img src="../../assets/menu.png" class="card-img" alt="...">
      <div class="card-body">
          <b class="text">Menu</b>
      </div>
  </a>

  <a href = "/ingredients" class="card cardss shadow" style="width: 18rem; background-color: #362633;">
      <img src="../../assets/totem.png" class="card-img" alt="...">
      <div class="card-body">
          <b class="text">Totem</b>
      </div>
  </a>
  <a href = "/ingredients" class="card cardss shadow" style="width: 18rem; background-color: #D04C00;">
      <img src="../../assets/grafico.png" class="card-img" alt="...">
      <div class="card-body">
          <b class="text">Dashboard</b>
      </div>
  </a>
</div>
<div class="row m-5 aqui">

  <a (click)="openDialog()" class="card cardss shadow" style="width: 18rem; background-color: #B2BB5C;">
      <img src="../../assets/promo.png" class="card-img" alt="...">
      <div class="card-body">
          <b class="text2">Adicionar Produto</b>
      </div>
  </a>

  <a href = "/ingredients" class="card cardss shadow" style="width: 18rem; background-color: #E5871E;">
    <img src="../../assets/pedidos.png" class="card-img" alt="...">
    <div class="card-body">
        <b class="text2">Pedidos</b>
    </div>
  </a>

  <a href = "/ingredients" class="card cardss shadow" style="width: 18rem; background-color: #6B4D66;">
    <img src="../../assets/Add.png" class="card-img" alt="...">
    <div class="card-body">
        <b class="text2">Nova Promoção</b>
    </div>
  </a>

</div>
