<div class="container">
  <div class="container">
    <h1>Cadastrar novo Produto:</h1>
  </div>
  <div class="input mb-3">
		<p class="text">Nome:</p>
		<input type="text" class="form-control shadow inputt" aria-label="default input example" [(ngModel)]="name" />

    <p class="text">Preço:</p>
    <input type="number" class="form-control shadow inputt" aria-label="default input example" />

    <p class="text">Foto:</p>
    <input type="file" class="form-control shadow inputt mb-5" aria-label="default input example" />

    <div class="input-group mb-3 mt-4">
      <label class="input-group-text" for="inputGroupSelect01">Categoria</label>
      <select class="form-select" id="inputGroupSelect01">
        <option selected disabled>Escolha...</option>
        <option value="Pratos">Pratos</option>
        <option value="Bebidas">Bebidas</option>
        <option value="Doces">Doces</option>
      </select>
    </div>

		<p class="text">Descrição:</p>
		<input type="text" class="form-control shadow inputt" aria-label="default input example"  />

  </div>
  <button class="btn btn-success shadow" style="margin: 4%;"> Adicionar Produto </button><br />
</div>
