<div class="nav shadow">
  <img src="../../assets/Logo.png" alt="">
</div>
<div class="container mt-5">
  <h1> Pedidos Pendentes: </h1>
  <div class="row">

    <div class="card shadow m-3">
      <h5 class="card-title card-header">
        Pedido #333
        <div class="">Eliana Almeida</div>
      </h5>

      <div class="card-text m-2">
        <h4>
          Pratos
        </h4>

        <ul>
          <li> Manjerições à lá carte </li>
        </ul>
      </div>
      <div class="card-text m-2">
        <h4>
          Bebidas
        </h4>

        <ul>
          <li> Suco de Beterraba </li>
          <li> Suco de Cenoura </li>
        </ul>
      </div>
      <div class="card-text m-2">
        <h4>
          Doces
        </h4>

        <ul>
          <li> Pudim de Chia </li>
          <li> Sorvete de Cogumelo </li>
        </ul>
      </div>
      <button class="btn btn-success mb-4"> Pedido Entregue </button>
    </div>

    <div class="card shadow m-3">
      <h5 class="card-title card-header">
        Pedido #333
        <div class="">Emyli Quadros</div>
      </h5>

      <div class="card-text m-2">
        <h4>
          Pratos
        </h4>

        <ul>
          <li> Beterraba Agridoce </li>
        </ul>
      </div>
      <div class="card-text m-2">
        <h4>
          Bebidas
        </h4>

        <ul>
          <li> Suco de Beterraba </li>
        </ul>
      </div>
      <div class="card-text m-2">
        <h4>
          Doces
        </h4>

        <ul>
          <li> Pudim de Chia </li>
        </ul>
      </div>
      <button class="btn btn-success mb-4"> Pedido Entregue </button>
    </div>


    <div class="card shadow m-3">
      <h5 class="card-title card-header">
        Pedido #333
        <div class="">Anabelly Montibeller</div>
      </h5>

      <div class="card-text m-2">
        <h4>
          Pratos
        </h4>

        <ul>
          <li>   </li>
        </ul>
      </div>
      <div class="card-text m-2">
        <h4>
          Bebidas
        </h4>

        <ul>
          <li> Suco de Couve </li>
        </ul>
      </div>
      <div class="card-text m-2">
        <h4>
          Doces
        </h4>

        <ul>
          <li>  </li>
        </ul>
      </div>
      <button class="btn btn-success mb-4"> Pedido Entregue </button>
    </div>


    <div class="card shadow m-3">
      <h5 class="card-title card-header">
        Pedido #333
        <div class="">Emyli Quadros</div>
      </h5>

      <div class="card-text m-2">
        <h4>
          Pratos
        </h4>

        <ul>
          <li> Beterraba Agridoce </li>
        </ul>
      </div>
      <div class="card-text m-2">
        <h4>
          Bebidas
        </h4>

        <ul>
          <li> Suco de Beterraba </li>
        </ul>
      </div>
      <div class="card-text m-2">
        <h4>
          Doces
        </h4>

        <ul>
          <li> Pudim de Chia </li>
        </ul>
      </div>
      <button class="btn btn-success mb-4"> Pedido Entregue </button>
    </div>


    <div class="card shadow m-3">
      <h5 class="card-title card-header">
        Pedido #333
        <div class="">Emyli Quadros</div>
      </h5>

      <div class="card-text m-2">
        <h4>
          Pratos
        </h4>

        <ul>
          <li> Beterraba Agridoce </li>
        </ul>
      </div>
      <div class="card-text m-2">
        <h4>
          Bebidas
        </h4>

        <ul>
          <li> Suco de Beterraba </li>
        </ul>
      </div>
      <div class="card-text m-2">
        <h4>
          Doces
        </h4>

        <ul>
          <li> Pudim de Chia </li>
        </ul>
      </div>
      <button class="btn btn-success mb-4"> Pedido Entregue </button>
    </div>


    <div class="card shadow m-3">
      <h5 class="card-title card-header">
        Pedido #333
        <div class="">Emyli Quadros</div>
      </h5>

      <div class="card-text m-2">
        <h4>
          Pratos
        </h4>

        <ul>
          <li> Beterraba Agridoce </li>
        </ul>
      </div>
      <div class="card-text m-2">
        <h4>
          Bebidas
        </h4>

        <ul>
          <li> Suco de Beterraba </li>
        </ul>
      </div>
      <div class="card-text m-2">
        <h4>
          Doces
        </h4>

        <ul>
          <li> Pudim de Chia </li>
        </ul>
      </div>
      <button class="btn btn-success mb-4"> Pedido Entregue </button>
    </div>

  </div>

</div>
