.nav {
  background-color: #B2BB5C;
}
.nav img {
  width: 18vh;
}

.card {
  width: 30%;
}
.card-header {
  background-color: aquamarine;
}
h1, h4 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #044B25;
}

li {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: #D04C00;
}
@media (width < 768px)
{
  .card {
    width: 90%;
  }
}

