<div class="nav shadow">
  <img src="../../assets/Logo.png" alt="">
</div>
<div class="container mt-5">
  <div class="row">

    <div class="card shadow m-3">
      <div class="card-header">Pedido #333</div>
      <div class="text-card m-2">Oi</div>
    </div>

    <div class="card shadow m-3">
      <div class="card-header">Pedido #333</div>
      <div class="text-card m-2">Oi</div>
    </div>

    <div class="card shadow m-3">
      <div class="card-header">Pedido #333</div>
      <div class="text-card m-2">Oi</div>
    </div>

    <div class="card shadow m-3">
      <div class="card-header">Pedido #333</div>
      <div class="text-card m-2">Oi</div>
    </div>

    <div class="card shadow m-3">
      <div class="card-header">Pedido #333</div>
      <div class="text-card m-2">Oi</div>
    </div>

    <div class="card shadow m-3">
      <div class="card-header">Pedido #333</div>
      <div class="text-card m-2">Oi</div>
    </div>
  </div>

</div>
