<body>
    <div class="shadow login">
        <img src="../assets/Logo.png" class = "logo" />

        <div class="input mb-3">
            <p class="text">Email:</p>
            <input type="text" class="form-control shadow">
            <p class="text">Senha:</p>
            <input type="password" class="form-control shadow" id="">
        </div>
        <button class="btn btn-success shadow" style="margin: 4%;"> Entrar </button><br />
        <b>Não possui cadastro? <br /></b>
        <a [routerLink]="['/cadastro']"> Cadastrar</a>
    </div>
</body>
